<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/scouts.css}" href="/css/scouts.css"/>
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<div class="nav">
    <div th:replace="fragments/header :: header">Hier komt de header</div>

</div>
<h2>Over ons!</h2>
<p>1996: Scouting in Retie is een feit! De allereerste vergadering ging door op ’t Schijf,
    waarna we door toenemende groei verhuisden naar De Linde om uiteindelijk voorgoed te settelen op de Hodonk.
    Intussen telt onze groep meer dan 150 toffe leden en leiding! De scouts van Retie is een gemengde scoutsgroep,
    gelegen in het district Mol, in Gouw Kempen. De groep is lid van de Scouts en Gidsen Vlaanderen.</p>

<div th:replace="fragments/footer :: footer">Hier komt de footer</div>

</body>
</html>