<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/scouts.css}" href="/css/scouts.css"/>
<head>
    <meta charset="UTF-8">
    <title>Errorpagina</title>
</head>
<body>
<div th:fragment="header">
    <div class="nav">
        <h1>Scouts Retie</h1>
        <div class="freespaceforheader"></div>
    </div>
</div>
<div>
    <h2>Ai, er is iets fouts gegaan.</h2>
</div>
<div class="row1">
    <div class="row1content">
        <a class="buttonLook mediumButton" th:href="@{'/home/'}">Homepagina</a>
        <a class="buttonLook mediumButton" th:href="@{'/taklist/'}">lakkenlijst</a>
        <a class="buttonLook mediumButton" th:href="@{'/kamplist/'}">kamplijst</a>
        <a class="buttonLook mediumButton" th:href="@{'/leidinglist/'}">leiders</a>
        <a class="buttonLook mediumButton" th:href="@{'/about/'}">over ons</a>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</body>
</html>