<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/scouts.css}" href="/css/scouts.css"/>
<head>
    <meta charset="UTF-8">
    <title>Homepagina</title>
</head>
<body>
<div class="nav">
    <div th:replace="fragments/header :: header">Hier komt de header</div>
</div>
<h2>Welkom op de scouts van Retie!</h2>
<p>Bij scouts Retie willen we het beste van verschillende werelden combineren.
    Jarenlange ervaring met jeugdig enthousiasme, culturen met verschillende visies en vernieuwing combineren we met
    betrouwbaarheid.
    Zo creëren we een unieke mix die de basis vormt van een sterke groep.
    We delen allen onze passie voor onze scouts en haar waarden.
    We moedigen onze leden en leiding aan om creatief te denken, te handelen en te reageren zodat ze kunnen doorgroeien.
    Wij geloven dat iedereen kan groeien en wil doorgroeien en dat die mensen de ziel creëren van een succesvolle
    scoutsgroep. </p>
<br>
<h2>Zondagen</h2>
<p>Op zondag namiddag van 14u tot 17u organiseert onze leiding een top spel voor jullie. De spelletjes zijn zeer
    uitlopend en kunnen van kampen bouwen
    in het bos over gaan naar intense gevechten met stokken en katapulten. We leren jullie ook grote bouwwerken maken
    doormiddel van te sjorren. Vuur maken is ook
    iets van onze specialiteit. Om 16u voorziet de leiding een vieruurtje voor iedereen. Jullie krijgen dan iets te
    eten, Drinken en kunnen eventjes
    een pauze pakken van het intensief spelen.</p>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</body>
</html>